/.env
/phinx.php
/vendor/
/.idea/
/logs/
/structure/public/sitemaps/
/static/
/parse_ads.php
/parse_categories.php
/public/adminer.php
/ssh_tunnel.sh
/phinx.php
/sphinx/sphinx.conf
/sphinx/query.log
/sphinx/searchd.log
/sphinx/searchd.pid
/sphinx/data/
