/configs/.pylesos
/configs/.env
/configs/.layouts
/configs/counters.php
/configs/translates.php
/vendor/
/.idea/
/logs/*
/layouts/client/*
/parse_ads.php
/parse_categories.php
/backups/*
/*.lock
/phinx.php
/.phpunit.result.cache
/.htpasswd
/public/css/
/public/*.xml
/public/*.html
/public/img/
/public/sitemaps/
/tasks/locks/
/.DS_Store
/public/.DS_Store
