<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Document</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__content">
					<a href="#" class="header__logo">
						<img src="../img/logo.png" alt="logo">
					</a>
					<nav class="header__menu">
						<ul class="header__list">
							<li class="header__link">
								<a href="#">Community</a>
							</li>
							<li class="header__link">
								<a href="#"> Services</a>
							</li>
							<li class="header__link">
								<a href="#"> Housing</a>
							</li>
							<li class="header__link">
								<a href="#">For Sale</a>
							</li>
							<li class="header__link">
								<a href="#"> Jobs</a>
							</li>
						</ul>
					</nav>
					<a href="#" class="header__create">Create a posting</a>
				</div>
			</div>
		</header>
		<div class="background">
			<main class="main container">
				<div class="search">
					<form action="#">
						<input type="search" name="input-search" class="search__input" placeholder="Search...">
						<button class="search__btn"></button>
					</form>
				</div>
				<div class="city">
					<div class="city__content">
						<a href="#">New York</a>
						<span>»</span>
						<a href="#">Queens</a>
						<span>»</span>
						<a href="#">For Sale</a>
						<span>»</span>
						<a href="#">Cars + Trucks</a>
					</div>
				</div>
				<div class="card-headline headline">
					<h1>Ford Focus <span>in Queens from craigslist</span></h1>
				</div>
				<div class="slider">
					<div class="image-slider swiper-container">
						<div class="image-slider__wrapper swiper-wrapper">
							<div class="image-slider__slide swiper-slide">
								<div class="image-slider__image">
									<img src="../img/ford1.jpg" alt="photo">
								</div>
							</div>
							<div class="image-slider__slide swiper-slide">
								<div class="image-slider__image">
									<img src="../img/ford2.jpg" alt="photo">
								</div>
							</div>
							<div class="image-slider__slide swiper-slide">
								<div class="image-slider__image">
									<img src="../img/ford3.jpg" alt="photo">
								</div>
							</div>
							<div class="image-slider__slide swiper-slide">
								<div class="image-slider__image">
									<img src="../img/ford4.jpg" alt="photo">
								</div>
							</div>
							<div class="image-slider__slide swiper-slide">
								<div class="image-slider__image">
									<img src="../img/ford5.jpg" alt="photo">
								</div>
							</div>
						</div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
				<div class="youtube">
					<div class="youtube__content">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/hkfWw-fXL6k"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
				</div>
				<div class="info">
					<div class="info__content">
						<div class="info__feature">
							<span class="info__feature-item">Condition: Like New</span>
							<span class="info__feature-item">Cylinders: 4 Cylinders</span>
							<span class="info__feature-item">Drive: Fwd</span>
							<span class="info__feature-item">Fuel: Gas</span>
							<span class="info__feature-item">Odometer: 132000</span>
							<span class="info__feature-item">Paint Color: Silver</span>
							<span class="info__feature-item">Size: Full-Size</span>
							<span class="info__feature-item">Title Status: Clean</span>
							<span class="info__feature-item">Transmission: Automatic</span>
							<span class="info__feature-item">Type: Sedan</span>
						</div>
						<p class="info__description">Clean Title Awsome Car mint Condition Paid Off $4700 Negosiable
							☎️929-Seven33-87-88 New Tire Brake</p>
						<span class="info__price">$4700</span>
						<div class="info__block">
							<span>Address: Queens</span>
						</div>
						<div class="info__cart">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193730.89472537008!2d-74.01127616998555!3d40.65093336067674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24369470a592b%3A0x4109d18b6c5c7b05!2z0JrRg9C40L3RgSwg0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1652957176063!5m2!1sru!2sru"
								width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
						<div class="info__block">
							<span>Region: </span>
							<a href="#">Queens</a>
						</div>
						<a href="#" class="info__reply">Reply</a>
						<span class="info__time">Post time: 18.05.2022</span>
						<a href="#" class="info__report">Report this ad</a>
					</div>
				</div>
				<div class="new-ads">
					<div class="new-ads__content">
						<div class="card-headline headline">
							<h2>Similar Ads</h2>
						</div>
						<div class="new-ads__items">
							<div class="new-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<div class="ad__city-chains city">
										<div class="city__content">
											<a href="#">New York</a>
											<span>»</span>
											<a href="#">Queens</a>
											<span>»</span>
											<a href="#">For Sale</a>
											<span>»</span>
											<a href="#">Cars + Trucks</a>
										</div>
									</div>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<div class="ad__city-chains city">
										<div class="city__content">
											<a href="#">New York</a>
											<span>»</span>
											<a href="#">Queens</a>
											<span>»</span>
											<a href="#">For Sale</a>
											<span>»</span>
											<a href="#">Cars + Trucks</a>
										</div>
									</div>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<div class="ad__city-chains city">
										<div class="city__content">
											<a href="#">New York</a>
											<span>»</span>
											<a href="#">Queens</a>
											<span>»</span>
											<a href="#">For Sale</a>
											<span>»</span>
											<a href="#">Cars + Trucks</a>
										</div>
									</div>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<div class="ad__city-chains city">
										<div class="city__content">
											<a href="#">New York</a>
											<span>»</span>
											<a href="#">Queens</a>
											<span>»</span>
											<a href="#">For Sale</a>
											<span>»</span>
											<a href="#">Cars + Trucks</a>
										</div>
									</div>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<div class="ad__city-chains city">
										<div class="city__content">
											<a href="#">New York</a>
											<span>»</span>
											<a href="#">Queens</a>
											<span>»</span>
											<a href="#">For Sale</a>
											<span>»</span>
											<a href="#">Cars + Trucks</a>
										</div>
									</div>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<footer class="footer">
			<div class="footer__content container">
				<div class="footer__left">
					<a href="#">Classified Ads in New York</a>
					<span> - local classifieds board</span>
				</div>
				<div class="footer__right">
					<span>Contacts: </span>
					<a href="mailto:adspoter@gmail.com">adspoter@gmail.com </a>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
	<script src="../js/js.js"></script>
</body>

</html>