<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Document</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__content">
					<a href="#" class="header__logo">
						<img src="../img/logo.png" alt="logo">
					</a>
					<nav class="header__menu">
						<ul class="header__list">
							<li class="header__link">
								<a href="#">Community</a>
							</li>
							<li class="header__link">
								<a href="#"> Services</a>
							</li>
							<li class="header__link">
								<a href="#"> Housing</a>
							</li>
							<li class="header__link">
								<a href="#">For Sale</a>
							</li>
							<li class="header__link">
								<a href="#"> Jobs</a>
							</li>
						</ul>
					</nav>
					<a href="#" class="header__create">Create a posting</a>
				</div>
			</div>
		</header>
		<div class="background">
			<main class="main container">
				<div class="search">
					<form action="#">
						<input type="search" name="input-search" class="search__input" placeholder="Search...">
						<button class="search__btn"></button>
					</form>
				</div>
				<div class="city">
					<div class="city__content">
						<a href="#">New York</a>
						<span>»</span>
						<a href="#">For Sale</a>
					</div>
				</div>
				<div class="categories">
					<div class="categories__headline headline">
						<h2>For Sale in New York from Craigslist</h2>
					</div>
					<div class="categories__content">
						<ul class="categories__list categories__sub-list">
							<li class="categories__link categories__sub-link"><a href="#">Antiques</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Appliances</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Arts + Crafts</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Atv / Utv / Sno</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Auto Parts</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Aviation</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Baby + Kid</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Barter</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Beauty + Health</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Bike Parts</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Bike</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Boat Parts</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Boats</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Books</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Business</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Cars + Trucks</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Cds / Dvd / Vhs</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Cell Phones</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Clothes + Acc</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Collectibles</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Computer Parts</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Computers</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Electronics</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Free</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Furniture</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Garage Sale</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Heavy Equip</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Jewelry</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Materials</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Motorcycle Parts</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Motorcycles</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Music Instr</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Photo + Video</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Rvs + Camp</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Sporting</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Tickets</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Tools</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Toys + Games</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Trailers</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Video Gaming</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Wanted</a></li>
							<li class="categories__link categories__sub-link"><a href="#">Wheels + Tires</a></li>
						</ul>
					</div>
				</div>
				<div class="city">
					<div class="city__content">
						<span class="city__region">Region:</span>
						<a href="#">New York</a>
					</div>
				</div>
				<div class="new-ads">
					<div class="new-ads__content">
						<div class="new-ads__items">
							<div class="new-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<a href="#" class="ad__city">New York</a>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<a href="#" class="ad__city">New York</a>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<a href="#" class="ad__city">New York</a>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<a href="#" class="ad__city">New York</a>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<a href="#" class="ad__city">New York</a>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="new-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<a href="#" class="ad__city">New York</a>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<a href="#" class="ad__city">New York</a>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<a href="#" class="ad__city">New York</a>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<a href="#" class="ad__city">New York</a>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
							<div class="hot-ads__item ad">
								<a href="#" class="ad__image">
									<img src="../img/mini-ad.jpg" alt="item">
								</a>
								<div class="ad__info">
									<a href="#" class="ad__headline">
										CHELSEA PHOTO STUDIO</a>
									<p class="ad__text">Photo studio is 1000 sq foot studio in full service building with freight
										&
										passenger elevators. Huge windows, great natural lig...</p>
									<a href="#" class="ad__city">New York</a>
									<span class="ad__price">50 $</span>
									<div class="ad__block">
										<img src="../img/icon-block.png" alt="location">
										<a href="#">Manhattan</a>
									</div>
								</div>
							</div>
						</div>
						<a href="#" class="new-ads__next">Next »</a>
					</div>
				</div>
			</main>
		</div>
		<footer class="footer">
			<div class="footer__content container">
				<div class="footer__left">
					<a href="#">Classified Ads in New York</a>
					<span> - local classifieds board</span>
				</div>
				<div class="footer__right">
					<span>Contacts: </span>
					<a href="mailto:adspoter@gmail.com">adspoter@gmail.com </a>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>