<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Document</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__content">
					<a href="#" class="header__logo">
						<img src="../img/logo.png" alt="logo">
					</a>
					<nav class="header__menu">
						<ul class="header__list">
							<li class="header__link">
								<a href="#">Community</a>
							</li>
							<li class="header__link">
								<a href="#"> Services</a>
							</li>
							<li class="header__link">
								<a href="#"> Housing</a>
							</li>
							<li class="header__link">
								<a href="#">For Sale</a>
							</li>
							<li class="header__link">
								<a href="#"> Jobs</a>
							</li>
						</ul>
					</nav>
					<a href="#" class="header__create">Create a posting</a>
				</div>
			</div>
		</header>
		<div class="background">
			<main class="main container">
				<div class="search container">
					<form action="#">
						<input type="search" name="input-search" class="search__input" placeholder="Search...">
						<button class="search__btn"></button>
					</form>
				</div>
				<div class="city container">
					<div class="city__content">
						<a href="#">New York</a>
					</div>
				</div>
				<div class="headline">
					<h1>Classified Ads in NY</h1>
				</div>
				<div class="registration">
					<form action="#" class="registration__log">
						<p class="registration__title">Log in</p>
						<input type="text" placeholder="email">
						<input type="text" placeholder="password">
						<button type="submit">Log in</button>
						<a href="#">Forgot password?</a>
					</form>
					<span>or</span>
					<form action="#" class="registration__create">
						<p class="registration__title">Create an account</p>
						<input type="text" placeholder="email">
						<button type="submit">Create account</button>
					</form>
				</div>
			</main>
			<footer class="footer">
				<div class="footer__content container">
					<div class="footer__left">
						<a href="#">Classified Ads in New York</a>
						<span> - local classifieds board</span>
					</div>
					<div class="footer__right">
						<span>Contacts: </span>
						<a href="mailto:adspoter@gmail.com">adspoter@gmail.com </a>
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>

</html>