.karman-panel {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40!important;
    color: #fff!important;
    text-align: center;
    padding: 8px 0 5px 10px;
    font-size: 16px;
}

.karman-item {
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.karman-item a {
    margin-top: -2px;
    color: #fff;
    text-decoration: none;
}

.karman-item a:hover {
    text-decoration: underline;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}

input.apple-switch {
    position: relative;
    appearance: none; outline: none;
    width: 50px; height: 30px;
    background-color: #ffffff; border: 1px solid #D9DADC;
    border-radius: 50px; box-shadow: inset -20px 0 0 0 #ffffff;
    transition-duration: 200ms;
    cursor: pointer;
}

input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px; left: 1px;
    width: 26px; height: 26px;
    background-color: transparent;
    border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input.apple-switch:checked {
    border-color: #4ED164;
    box-shadow: inset 20px 0 0 0 #4ED164;
}

input.apple-switch:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

.find-and-move-ad-report {
    margin-top: 10px;
}