body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    line-height: 20px;;
    background: #ededed;
}

h1 {
    color: #df1c24;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal
}

h2 {
    color: #ff8306;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    font-weight: normal
}

p {
    margin: 0 0 15px 0;
    text-indent: 15px
}

ul {
    list-style-type: circle
}

li {
    margin: 0 0 10px 0
}

ul li:last-child {
    margin: 0 0 0 0
}

img {
    max-width: 100%;
    height: auto;
    width: auto \9
}

a:link {
    color: #06c;
    text-decoration: underline
}

a:visited {
    color: #06c;
    text-decoration: underline
}

a:active {
    color: #06c;
    text-decoration: underline
}

a:hover {
    color: #f60;
    text-decoration: underline
}

/* AdS */
.innerad {
    width: 300px;
    height: 250px
}

@media (min-width: 360px) {
    .innerad {
        width: 336px;
        height: 280px
    }
}

@media (min-width: 800px) {
    .innerad {
        width: 728px;
        height: 90px
    }
}

@media (min-width: 1000px) {
    .innerad {
        width: 970px;
        height: 250px
    }
}
/* end AdS */

/* Cookies notificaton */

#cookie_notification{
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: 900px;
    max-width: 90%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
}

#cookie_notification div{
    margin: 0;
    font-size: 0.7rem;
    text-align: left;
    color: #999;
}

@media (min-width: 576px){
    #cookie_notification.show{
        display: flex;
    }
    .cookie_accept{
        margin: 0 0 0 25px;
    }
}

@media (max-width: 575px){
    #cookie_notification.show{
        display: block;
        text-align: left;
    }
    .cookie_accept{
        margin: 10px 0 0 0;
    }
}
/* end Cookies notificaton */

/* Search bar */

.search {
    width: 100%;
    position: relative;
}

.search input {
    border: none;
}

.search .input {
    width: 100%;
    padding: 8px 37px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}

.search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(../img/go.png) 50% no-repeat;
    opacity: 0.5;
}

.search .submit:hover {
    opacity: 0.8;
}

input[type="search"] {
    -webkit-appearance: none;
}
*+html .search {
    width: 28%;
    padding: 0 52px 0 0;
}
.search .input {
    border: 1px solid #DFDFDF;
    border-top: 1px solid #B3B3B3;
    padding-top: 7px;
    padding-bottom: 8px;
}
.search .input:focus {
    border: 1px solid #CFCFCF;
    border-top: 1px solid #999;
}
.search .submit {
    filter: alpha(opacity=50);
}
.search .submit:hover {
    filter: alpha(opacity=80);
}

/* end Search bar */

/* Registration */

input.reg {
    padding: 3px;
    width: 300px;
    margin: 5px 0
}

/* end Registration */

/* header */
.tbl_base {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    padding: 0
}

.trheader {
    background-color: #FFF
}

.tdheader {
    border-bottom: 2px solid #ccc
}

.top_tbl {
    width: 990px;
    border-spacing: 0;
    padding: 0
}

.fifty {
    width: 50%;
    border-bottom: 2px solid #ccc;
    height: 62px
}

.mylogo {
    display: inline;
    width: 198px;
    alignment-baseline: middle
}

.tbl_menu {
    width: 100%;
    height: 42px;
    border-spacing: 0;
    padding: 0
}

.main_menu {
    float: right;
    width: 710px
}

.whitem {
    color: #555;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px 0 10px
}

.table_main {
    background-color: #FFF;
    border-right: solid 1px #CCCCCC;
    border-left: solid 1px #CCCCCC;
    color: #333;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    vertical-align: top
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
    .top_tbl {
        width: 100%
    }

    .fifty {
        width: 0
    }

    .main_menu {
        float: right;
        width: 100%
    }

    .whitem {
        color: #555;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 0 0 0
    }

    .mylogo {
        padding: 5px 0 5px 5px
    }
}

a.menu:link {
    color: #555;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.menu:visited {
    color: #555;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.menu:active {
    color: #555;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.menu:hover {
    color: #555;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline
}
/* end header */

/* main */
.span-d {
    display: inline;
    float: left;
    padding-right: 20px
}

.regions {
    padding-bottom: 5px
}

.icm {
    width: 32px;
    height: 32px;
    vertical-align: middle
}
/* end main */

/* category */
.bread {
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E9E9E9;
    border-bottom-style: inset
}

.sep {
    margin: 0 7px;
    color: #BBB
}

a.bread_link:link {
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none
}

a.bread_link:visited {
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none
}

a.bread_link:active {
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none
}

a.bread_link:hover {
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: underline
}

ul.sub_cat {
    width: 250px;
    padding: 0;
    -moz-column-count: 2;
    -moz-column-width: 120px;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-width: 120px;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-width: 120px;
    column-gap: 10px;
}
ul.sub_cat li {
    width: 95%;
    display: inline-table;
    margin: 3px;
    padding: 5px;
}

@media (min-width: 600px) {
    ul.sub_cat {
        width: 500px;
        -moz-column-count: 3;
        -moz-column-width: 155px;
        -webkit-column-count: 3;
        -webkit-column-width: 155px;
        column-count: 3;
        column-width: 155px;
    }
}

@media (min-width: 1000px) {
    ul.sub_cat {
        width: 900px;
        -moz-column-count: 4;
        -moz-column-width: 215px;
        -webkit-column-count: 4;
        -webkit-column-width: 215px;
        column-count: 4;
        column-width: 215px;
    }
}

.region_cat {
    padding-bottom: 5px;
    border-bottom: 1px solid #E9E9E9;
    border-bottom-style: inset
}

.alert {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 5px;
    margin-bottom: 10px;
}
/* end category */

/* ad snippet */
.serp {
    width:100%;
    border-spacing:0;
    margin-top: 10px;
    padding:0
}
.serp td {
    padding: 5px 5px 0 0;
    border-bottom: 1px solid #dfdfdf;
}
.serp_img {
    width: 60px;
    vertical-align: top
}
.short_desc {
    word-wrap: break-word;
    word-break: break-all;
}

a.serp_link:link {
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-size: 16px;
    text-decoration: none
}

a.serp_link:visited {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 16px;
    text-decoration: none
}

a.serp_link:active {
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-size: 16px;
    text-decoration: none
}

a.serp_link:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 16px;
    text-decoration: underline
}

.serp_bread {
    font-size: 12px
}

.serp_price {
    color: #157ee1;
    font-size: 14px;
    padding-left: 0;
    background-image: none;
}

.serp_region {
    font-size: 12px;
    color: #999
}
/* end ad snippet */

/* pagination */
.pager {
    padding: 15px 0 5px 60px;
    font-size: 14px;
    color: #EFEFEF;
}

.active_page {
    background-color: #CCCCCC;
    color: #FFF;
    padding: 0 5px
}
/* end pagination */

/* ad */
@media (max-width: 600px) {
    .myvideo iframe, .myvideo object, .myvideo embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
    }

    .myvideo {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
}
.description {
    padding: 10px 0;
    word-wrap: break-word;
    word-break: break-all;
}

.post_time {
    font-size: 12px;
    color: #999;
    padding-top: 10px
}

.price {
    color: #157ee1;
    font-size: 18px;
    padding-bottom: 10px;
}

.adress {
    font-size: 14px;
    color: #111;
    padding-bottom: 10px
}

.seller {
    padding-top: 10px
}

.phone {
    font-size: 14px;
    color: #57a74d;
    padding-top: 10px
}

#map {
    height: 300px;
    z-index: 0
}

.reply {
    padding-top: 10px
}

.success {
    margin: 15px 0 10px -15px
}

.details {
    list-style: none;
    text-transform: capitalize;
    padding-inline-start: 0
}

a.show-phone:link {
    color: #57a74d;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.show-phone:visited {
    color: #57a74d;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.show-phone:active {
    color: #57a74d;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.show-phone:hover {
    color: #555;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.reply_link:link {
    color: #157ee1;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.reply_link:visited {
    color: #157ee1;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.reply_link:active {
    color: #157ee1;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.reply_link:hover {
    color: #555;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

.report {
    padding: 10px 0;
    border-bottom: 1px solid #dfdfdf
}

a.report_link:link {
    color: red;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.report_link:visited {
    color: red;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.report_link:active {
    color: red;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

a.report_link:hover {
    color: #555;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

/*abuse*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 5px;
    background-color: #f44336;
    font-size: 16px;
    color: white
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 350px;; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #FFF;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tbl_report {
    width: 100%
}

.td_report {
    vertical-align: top;
    font-weight: bold
}
input {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #cdd6dd;
    background-color: #f7f8fa;
    color: #61627C;
    font-size: 13px;
    padding: 3px;
    width: 100%
}
.button {
    color: #FFF;
    background-color: #157ee1
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #cdd6dd;
    background-color: #f7f8fa;
    color: #61627C;
    font-size: 13px;
    padding: 3px;
    width: 100%
}

hr {
    border: 0;
    height: 1px;
    background: #EFEFEF;
}

.show-contact {
    display: none
}
/* end ad */

/* slider */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 640px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fe0002;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* end slider */

/* footer */
.tdfooter {
    height: 60px;
    background-color: #F8F8F8;
    color: #999;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 2px solid #ccc
}

a.footer:link {
    color: #999;
    font-size: 11px;
    text-decoration: none
}

a.footer:visited {
    color: #999;
    font-size: 11px;
    text-decoration: none
}

a.footer:active {
    color: #999;
    font-size: 11px;
    text-decoration: none
}

a.footer:hover {
    color: #999;
    font-size: 11px;
    text-decoration: underline
}
/* end footer */